// ====== About ====== //

.about-title {
    background: var(--secondary-black);
    color: var(--primary-white);
    width: 25%;
    margin: 1rem auto;
    padding: 0.5rem;
    border-radius: 50px;
  }
  .section-about {
    margin-top: 3em;
    margin-bottom: 0;
  }
  
  .about-main-title {
    text-align: center;
    align-items: center;
  }
  
  .about-table-experience {
    margin: 1rem;
    width: 98%;
  }
  
  .about-table-training {
    width: 98%;
    margin: 1rem;
  }
  
  .about-table-language {
    margin: 0 auto;
    width: 40%;
    text-align: center;
  }
  
  .about-table-responsive {
    visibility: hidden;
    display: none;
  }
  
  .line-separator {
    border: 1px solid var(--primary-black);
    margin-bottom: 2em;
  }
  