  // ====== Contact Page ======= //
  
.section-contact {
margin-top: 7.15rem;
}

.list-unstyled{
display: flex;
}

.list-inline-item {
display: flex;
color: var(--primary-black);
padding-left: 0.2em;

}

.list-inline-item:hover {
  text-decoration: none;
}
.contact-link:hover,
.contact-link:focus {
  background-color: var(--primary-black);
}

.social-link {
  transition: transform 600ms ease;
}

.social-link:hover {
transform: scale(1.05);
color: var(--primary-black);
}

.contact-details-follow {
display: flex;
justify-content: space-around;
text-align: center;
align-items: center;
}