// ============== Footer ================= //

.footer {
    background: #252020;
    color: $base-color;
    padding: 0.5rem
  }
  
  .footer p {
      margin: 0;
      text-align: center;
  }
  
  .counter {
    display: none;
  }