// ====== Header ======= //

#main-header {
  background: var(--secondary-black);
  position: sticky;
  top: 0;
  z-index: 100;
}
.nav-link {
  font-family: 'Passion One', cursive;
  color:var(--primary-white);
  font-size: 1.5em;
}

.nav-link:hover {
  color:var(--primary-white);
  zoom: 102%;
  text-shadow: 1px 1px 2px var(--clr-gray);
}

.navbar-toggler-icon {
  height: 0.1rem;
  box-shadow: 0 -3px 0px 1px var(--primary-white), 
              0 4px 0 1px var(--primary-white), 
              0 11px 0 1px var(--primary-white);
}