// ====== Home Page ====== //
  
.bg02 {
  background: var(--clr-lightGray);
}

.home-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: blur(0.5px);
  border-radius: 25px;
}
.welcome-message {
  color: var(--primary-white);
  text-shadow: 2px 2px var(--primary-black);
  font-family: monospace;
  font-weight: bold;
  z-index: 10;
  text-align: center;
  font-size: 5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-personal {
  color: var(--primary-black);
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  background: var(--clr-gray);
}

.personaDescription {
  margin-left: 2em;
  padding: 1em;
  border: 2px solid var(--primary-black);
  border-radius: 50px;
}

.personaDescription h2 {
  font-family: Avenirnext, sans-serif;
  font-weight: bold;
}

.sections {
  text-align: center;
  margin-bottom: 6rem;
}

.expIconMain {
  display: flex;
  align-content: center;
  justify-content:center;
  margin: auto;
  padding-bottom: 5em;
  background-color: var(--secondary-black);
}

.personalImg {
  display: absolute;
  width: 200px;
  height: 200px;
  margin-top: 5em;
}

.expIcon {
  position: absolute;
  color: var(--primary-white);
}


.experience-icon-1 {
  margin: 0.1em 0 0 -1em;
}

.experience-icon-2 {
  margin: 0.1em 0 0 1.5em;

}

.experience-icon-3 {
  margin: 1.5em 0 0 2em;
}

.experience-icon-4 {
  margin: 3em 0 0 1.7em;
}

.experience-icon-5 {
  margin: 3.5em 1em 0 0;
}

.experience-icon-6 {
  margin: 3em 0 0 -1.5em;
}

.experience-icon-7{
  margin: 1.5em 0 0 -2em;
}
