@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@import url('https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css');
@import "./animate.scss";
@import "./animation.scss";
// ====== Default Dom Setting ==== //
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

main {
  min-height: 100vh;
  font-family:
      "Ubuntu Mono",
      "Lucida Console",
      "Lucida Sans Typewriter",monaco,
      "Bitstream Vera Sans Mono",monospace;
}

.top {
  display: none;
}

.top-bar {
  position:fixed;
  transform: rotate(90deg);
  z-index: 20;
  top: 50%;
  align-items: center;
}

.top-img {
  background: #fff;
  border-radius: 50%;
}

.bg01 {
  background: #f2f2f2;
}

.main-pages-header {
  font-family: cursive;
  font-variant: small-caps;
  font-weight: bold;
}
// ====== Header ======= //

#main-header {
  background: black;
  opacity: 0.7;
  position: sticky;
  top: 0;
  height: 2.5em;
  z-index: 100;
}
.nav-link {
  color:white;
  font-size: large;
  margin-left: 1em;
}

.nav-link:hover {
  color: black;
  background: white;
  height: 100%;
  border: 1px 1px 0 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

// ====== Home Page ====== //
.main-page {
  margin-top: 0em;
  font-style: #fff;
}

.tab-content {
  background-color: rgb(37, 32, 32);
}
.home-img {
  height: 80%;
  width: 80%;
  filter: blur(1px);
}
.welcome-message {
  color: #fff;
  text-shadow: 2px 2px black;
  font-family: monospace;
  font-weight: bold;
  z-index: 10;
  text-align: center;
  font-size: 5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-personal {
  color: #fff;
  margin-top: 5em;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

.personal-img {
  width: 180px;
  height: 180px;
}

.personal-description {
  margin-left: 2em;
  padding: 1em;
  border: 2px solid white;
  border-radius: 50px;
}

.personal-description h2 {
  font-family: Avenirnext, sans-serif;
  font-weight: bold;
}

.sections {
  text-align: center;
  margin-bottom: 6rem;
}

.experience-icons {
  display: flex;
  align-content: center;
  justify-content: center;
  color: #fff;
  font-size: 5rem;
  padding-bottom: 1rem;
}

.experience-icon {
  margin: 2rem;
}

// ====== About ====== //

.about-title {
  background: #0d2e42;
  color: white;
  width: 25%;
  margin: 1rem auto;
  padding: 0.5rem;
  border-radius: 50px;
}
.section-about {
  margin-top: 2.4rem;
}

.about-main-title {
  text-align: center;
  align-items: center;
}

.about-table-experience {
  margin: 1rem;
  width: 98%;
}

.about-table-training {
  width: 98%;
  margin: 1rem;
}

.about-table-language {
  margin: 0 auto;
  width: 40%;
  text-align: center;
}

.about-table-responsive {
  visibility: hidden;
  display: none;
}

.line-separator {
  border: 1px solid black;
  margin-bottom: 2em;
}

// ====== Contact Page ======= //

.section-contact {
  margin-top: 7.15rem;
}

.list-inline-item {
  transition: transform .2s;
}

.list-inline-item:hover {
  transform: scale(1.2);
}

.contact-details-follow {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

// ====== Projects Page ======= //

.section-projects {
  margin-top: 4.2rem;
}

.wrapper {
  max-width: 1335px;
  box-sizing: border-box;
  padding: 0 20px;
  margin: auto;
}

.wrapper a {
  display: inline-block;
  margin: 5px;
}

.wrapper a:first-child {
  margin-left: 0;
}

.slider-wrapper {
  position: relative;
  height: 100vh;
  overflow: hidden;
  margin-left: 10px;
  margin-bottom: 75px;
}

.slide {
  height: 100vh;
  background-size: cover !important;
}

.slide::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
  bottom: 0;
  left: 0;
}

.previousButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: url("../images/arrow-right.png") no-repeat center center / 20px;
  // background: url('http://svgshare.com/i/41_.svg') no-repeat center center / 16px;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  cursor: pointer;
}

.previousButton:hover,
.nextButton:hover {
  background: url("../images/arrow-right.png") no-repeat center center / 20px;
}

.previousButton {
  left: 0;
  -webkit-transform: rotate(180deg) translateY(calc(50% + 0px));
  transform: rotate(180deg) translateY(calc(50% + 0px));
}

.previousButton:hover {
  left: -10px;
}

.nextButton {
  right: 0;
}

.nextButton:hover {
  right: -10px;
}

.slider-content {
  text-align: center;
}
.slider-wrapper,
.slide  {
  height: 800px;
}

.project-img {
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

.slider-content .inner {
  padding: 0 70px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.slider-content .inner h1 {
  font-weight: 900;
  margin: 0 auto;
  max-width: 840px;
  color: #FFFFFF;
  font-size: 72px;
  line-height: 1;
  text-shadow: 2px 2px black;
}

.slider-content .inner p {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.5;
  margin: 20px auto 30px;
  max-width: 640px;
  text-shadow: 1px 1px black;
}

.slider-content .inner button {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.btn-project {
  -webkit-appearance: none;
  appearance: none;
  -webkit-filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
  -webkit-transition: all .5s ease;
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  border: none;
  background: #FFD800;
  color: black;
  border-radius: 30px;
  text-transform: uppercase;
  box-sizing: border-box;
  margin-top: 260px;
  margin-bottom: 0;
  padding: 15px 40px;
  text-shadow: 0.5px 0.5px black;
  font-size: 13px;
  cursor: cursor;
}

.btn-project a {
  color: black;
}

.btn-project:hover, .btn-project a:hover {
  color: #FFFFFF;
  background: #222222;
  -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
  text-decoration: none;
}

.github a {
 font-size: 1.5em;
}
.github {
  margin-left: 1em;
  padding: 13px 40px;

}

// ============== Footer ================= //

.footer {
  background: #252020;
  color: #fff;
  padding: 0.5rem
}

.footer p {
    margin: 0;
    text-align: center;
}

// ====== NotFound Page ====== //
.not-found {
  background-color: red;
  color: white;
  text-align: center;
}

// ============== Responsive ================= //

@media (max-width: 1200px) {
  .welcome-message {
    font-size: 4em;
  }
  .slider-wrapper,
  .slide  {
    height: 650px;
  }
}

@media (max-width: 992px) {
  .welcome-message {
    font-size: 3em;
  }
  .experience-icons {
    font-size: 4rem;
  }
  .experience-icon {
    margin: 1.3rem;
  }
  .slider-wrapper,
  .slide  {
    height: 500px;
  }
  .slider-content .inner h1 {
    font-size: 64px;
  }
  .tags {
   margin-bottom: -5em;
  }
}

@media (max-width: 768px) {
  .home-personal {
    flex-wrap: wrap;
  }
  .personal-description {
    margin-top: 2em;
    margin-left: 0;
  }
  .experience-icons {
    font-size: 3.5rem;
  }
  .experience-icon {
    margin: 1rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .slider-wrapper,
  .slide {
    height: 400px;
  }
  .tags {
    margin-bottom: -9em;
  }
  .btn-project {
    padding: 10px 20px;
  }
  .slider-content .inner h1 {
    font-size: 50px;
  }
}

@media (max-width: 576px) {
  .welcome-message {
    font-size: 2em;
  }
  .experience-icons {
    font-size: 3.2rem;
  }
  .experience-icon {
    margin: 0.8rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1rem;
  }
  .slider-wrapper,
  .slide {
    height: 300px;
  }
  .btn-project {
    padding: 7px 15px;
  }
  .slider-content .inner h1 {
    font-size: 35px;
  }
  .about-table-experience, .about-table-training, .about-table-language  {
    visibility: hidden;
    display: none;
  }
  .about-table-responsive {
    visibility: visible;
    display: list-item;
    flex-wrap: wrap;
    margin: 1rem;
    list-style-type: none;
  }
}

@media (max-width: 500px) {
  .personal-description {
    font-size: 0.5rem;
  }
  .experience-icons {
    font-size: 3rem;
  }
  .experience-icon {
    margin: 0.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: 0.8rem;
  }
  .slider-wrapper,
  .slide {
    height: 230px;
  }
  .slider-content .inner h1 {
    font-size: 21px;
  }
  .slider-content .inner p {
    font-size: 10px;
    margin: 10px auto 15px;
  }
  .section-about {
    margin-top: 2rem;
  }
  .btn-project {
    padding: 3px 7px;
    font-size: 10px;
    margin-top: 23em;
  }
}

@media (max-width: 420px) {
  .personal-description {
    font-size: 0.05rem;
    padding-top: 1.8rem;
    padding-left: 0.7rem;
  }
  .experience-icons {
    font-size: 2rem;
  }
  .experience-icon {
    margin: 0.3rem;
  }
  .main-pages-header {
    font-size: 2rem;
  }
  .about-title {
    width: 50%;
  }
  section ul li {
    font-size: 0.5rem;
  }
  h2 {
    font-size: 0.7rem;
  }
  h3 {
    font-size: 0.8rem;
  }
  .welcome-message {
    font-size: 1em;
  }
  .section-about {
    margin-top: 2rem;
  }
  .nav-link {
    font-size: 1em;
  }
  .slider-content .inner h1 {
    font-size: 17px;
  }
}

@media (max-width: 320px) {
  .nav-link {
    margin-top: 1px;
    padding-right: 0.5px;
  }
  .slider-wrapper,
  .slide {
    height: 200px;
  }
  .tags {
      margin-bottom: -11.5em;
      font-size: 75%;
  }
  .slider-content .inner h1 {
    font-size: 12px;
  }
  .slider-content .inner p {
    margin: 5px auto 7px;
  }
  .btn-project {
    padding: 3px 7px;
    font-size: 8px;
    margin-top: 23em;
  }
}

// ====== Loader ====== //
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
