@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@import url('https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css');
@import "./animation.scss";
// ====== Default Dom Setting ==== // 
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

main {
  min-height: 100vh;
  font-family: 
      "Ubuntu Mono", 
      "Lucida Console",
      "Lucida Sans Typewriter",monaco,
      "Bitstream Vera Sans Mono",monospace;
}

// ====== Header ======= // 

#main-header {
  background: black;
  opacity: 0.7;
  position: sticky;
  top: 0;
  height: 2.5em;
  z-index: 100;
}
.nav-link {
  color:white;
  font-size: large;
}

@media only screen and (max-width: 400px) {
  .nav-link {
    font-size: 1em;
  }
}
@media only screen and (max-width: 300px) {
  .nav-link {
    margin-top: 1px;
    padding-right: 0.5px;
  }
}
.nav-link:hover {
  color: black;
  background: white;
  height: 100%;
}

// ====== Home Page ====== // 
.main-page {
  margin-top: 0em;
  // background-color: rgb(37, 32, 32);
  font-style: white;
}

.home-img {
  height: 80%;
  width: 80%;
}
.welcome-message {
  background: red;
  z-index: 10;
  text-align: center;
  font-size: 5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 1200px) {
  .welcome-message {
    font-size: 4em;
  }
}
@media only screen and (max-width: 1000px) {
  .welcome-message {
    font-size: 3em;
  }
}
@media only screen and (max-width: 700px) {
  .welcome-message {
    font-size: 2em;
  }
}
@media only screen and (max-width: 425px) {
  .welcome-message {
    font-size: 1em;
  }
}



.personal-img {
  width: 200px;
  height: 200px;
}
.sections {
  margin-top: 2.5rem;
  text-align: center;
  margin-bottom: 10rem;
  background: red;
}
@media only screen and (max-width: 570px) {
  .section-projects {
  margin-top: 2.4rem;
  }
}
@media only screen and (max-width: 570px) {
  .section-contact {
    margin-top: 3.4rem;
  }
}


// ====== About ====== // 

.about-imgs {
  max-width: 100%;
  height: 21%;
  margin-top: 10px;
  margin-bottom: 20px;
}
.section-about {
  margin-top: 4.5rem;
  background: red;
  text-align: center;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 375px) {
  .section-about {
    margin-top: 4.4rem;
  }
}

// ====== Contact Page ======= // 

// ====== Projects Page ======= // 


.wrapper {
  max-width: 1335px;
  box-sizing: border-box;
  padding: 0 20px;
  margin: auto;
}

.wrapper a {
  display: inline-block;
  margin: 5px;
}

.wrapper a:first-child {
  margin-left: 0;
}

.slider-wrapper {
  position: relative;
  height: 70vh;
  overflow: hidden;
  margin-left: 10px;
}

.slide {
  height: 70vh;
  background-size: cover !important;
}

.slide::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
  bottom: 0;
  left: 0;
}

.btn-project {
  -webkit-appearance: none;
  appearance: none;
  -webkit-filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
  -webkit-transition: all .5s ease;
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  border: none;
  background: #FFD800;
  color: black;
  border-radius: 30px;
  text-transform: uppercase;
  box-sizing: border-box;
  margin-top: 150px;
  margin-bottom: 0;
  padding: 15px 40px;
  // font-weight: 400;
  font-size: 13px;
  cursor: cursor;
}

.btn-project:hover {
  color: #FFFFFF;
  background: #222222;
  -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
}

.previousButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: url('http://svgshare.com/i/41_.svg') no-repeat center center / 16px;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  cursor: pointer;
}

.previousButton:hover,
.nextButton:hover {
  background: url('http://svgshare.com/i/41_.svg') no-repeat center center / 16px;
}

.previousButton {
  left: 0;
  -webkit-transform: rotate(180deg) translateY(calc(50% + 0px));
  transform: rotate(180deg) translateY(calc(50% + 0px));
}

.previousButton:hover {
  left: -10px;
}

.nextButton {
  right: 0;
}

.nextButton:hover {
  right: -10px;
}

.slider-content {
  text-align: center;
}

.slider-content .inner {
  padding: 0 70px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.slider-content .inner button {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.slider-content .inner h1 {
  font-weight: 900;
  margin: 0 auto;
  max-width: 840px;
  color: #FFFFFF;
  font-size: 64px;
  line-height: 1;
}

.slider-content .inner p {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.5;
  margin: 20px auto 30px;
  max-width: 640px;
}


@media (max-height: 500px) {

  .slider-wrapper,
  .slide {
    height: calc(100vh - 75px);
  }
}

@media (max-width: 640px) {

  .slider-wrapper,
  .slide {
    height: calc(80vh - 75px);
  }
}

@media (max-height: 600px) {
  .slider-content .inner h1 {
    font-size: 32px;
  }
}

@media (max-width: 640px) {
  .slider-content .inner h1 {
    font-size: 32px;
  }
}

// ====== NotFound Page ====== // 
.not-found {
  background-color: red;
  color: white;
  text-align: center;
}

// ====== Footer ====== // 
footer p {
    position: absolute;
    // bottom: 0;
    margin-top: 10px;
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

// ====== Loader ====== // 
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

