@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@import url('https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css');
@import "./animate.scss";
@import "./animation.scss";
@import "./header.scss";
@import "./home.scss";
@import "./about.scss";
@import "./contact.scss";
@import "./projects";
@import "./footer.scss";
@import "responsive.scss";

// ====== Default Dom Setting ==== //
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

main {
  min-height: 100vh;
  font-family:
      "Ubuntu Mono",
      "Lucida Console",
      "Lucida Sans Typewriter",monaco,
      "Bitstream Vera Sans Mono",monospace;
}

.top {
  display: none;
}

.top-bar {
  position:fixed;
  transform: rotate(90deg);
  z-index: 20;
  top: 50%;
  align-items: center;
}

.top-img {
  background: #fff;
  border-radius: 50%;
}

.bg01 {
  background: #f2f2f2;
}

.main-pages-header {
  font-family: cursive;
  font-variant: small-caps;
  font-weight: bold;
}

// ====== NotFound Page ====== //
.not-found {
  background-color: red;
  color: white;
  text-align: center;
}

