// ============== Responsive ================= //

@media (max-width: 1200px) {
  .welcome-message {
    font-size: 4em;
  }
  .slider-wrapper,
  .slide  {
    height: 650px;
  }
}
  
@media (max-width: 992px) {
  .welcome-message {
    font-size: 3em;
  }
  .slider-wrapper,
  .slide  {
    height: 500px;
  }
  .slider-content .inner h1 {
    font-size: 64px;
  }
  .tags {
    margin-bottom: -5em;
  }
}

@media (max-width: 768px) {
  .home-personal {
    flex-wrap: wrap;
  }
  .personal-description {
    margin-top: 2em;
    margin-left: 0;
  }
  h2 {
    font-size: 1.5rem;
  }
  .slider-wrapper,
  .slide {
    height: 400px;
  }
  .tags {
    margin-bottom: -9em;
  }
  .btn-project {
    padding: 10px 20px;
  }
  .slider-content .inner h1 {
    font-size: 50px;
  }
}

@media (max-width: 576px) {
  .welcome-message {
    font-size: 2em;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1rem;
  }
  .slider-wrapper,
  .slide {
    height: 300px;
  }
  .btn-project {
    padding: 7px 15px;
  }
  .slider-content .inner h1 {
    font-size: 35px;
  }
  .about-table-experience, .about-table-training, .about-table-language  {
    visibility: hidden;
    display: none;
  }
  .about-table-responsive {
    visibility: visible;
    display: list-item;
    flex-wrap: wrap;
    margin: 1rem;
    list-style-type: none;
  }
}

@media (max-width: 500px) {
  .personal-description {
    font-size: 0.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: 0.8rem;
  }
  .slider-wrapper,
  .slide {
    height: 230px;
  }
  .slider-content .inner h1 {
    font-size: 21px;
  }
  .slider-content .inner p {
    font-size: 10px;
    margin: 10px auto 15px;
  }
  .section-about {
    margin-top: 2rem;
  }
  .btn-project {
    padding: 3px 7px;
    font-size: 10px;
    margin-top: 23em;
  }
}

@media (max-width: 420px) {
  .personal-description {
    font-size: 0.05rem;
    padding-top: 1.8rem;
    padding-left: 0.7rem;
  }
  .fa-5x {
    font-size: 3.5em;
  }
  .personalImg{
    width: 150px;
    height: 150px;
    margin-top: 3em;
  }
  .main-pages-header {
    font-size: 2rem;
  }
  .about-title {
    width: 50%;
  }
  section ul li {
    font-size: 0.5rem;
  }
  h2 {
    font-size: 0.7rem;
  }
  h3 {
    font-size: 0.8rem;
  }
  .welcome-message {
    font-size: 1em;
  }
  .section-about {
    margin-top: 2rem;
  }

  .slider-content .inner h1 {
    font-size: 17px;
  }
}

@media (max-width: 320px) {
  
  .slider-wrapper,
  .slide {
    height: 200px;
  }
  .tags {
      margin-bottom: -11.5em;
      font-size: 75%;
  }
  .slider-content .inner h1 {
    font-size: 12px;
  }
  .slider-content .inner p {
    margin: 5px auto 7px;
  }
  .btn-project {
    padding: 3px 7px;
    font-size: 8px;
    margin-top: 23em;
  }
}

// ====== Loader ====== //
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
